
body {
    background-color:lightblue;
    font: 200 20px Tahoma, sans-serif;
}

h1 {
    background-color: aliceblue;
    text-align: center;
}

h2 {
    background-color: aliceblue;
    text-align: center;
    font-style: italic;
}

section {
    margin: 2em;
    padding: 2em;
    background-color:aliceblue;    
}