
body {
    background-color:lightblue;
    font: 200 20px Tahoma, sans-serif;
    color: black;
}

h1 {
    background-color: aliceblue;
    text-align: center;
}

h2 {
    background-color:white;
    text-align: center;
    font-style: italic;
}

table{
    font: 200 18px Tahoma, sans-serif;
}

caption{
    font: 200 18px Tahoma, sans-serif;
}

section {
    margin: 3em;
    padding: 3em;
    background-color:aliceblue;    
}