body{
    background-color: antiquewhite;
    color: black;
}

h1{
    text-align: center;
    color: RED;
}

h2{
    text-align: center;
    color: ORANGE
}

h3{
    text-align: center;
    color: green;
}

h4{
    text-align: center;
    color: blue;
}